{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <script src="{% static 'js/script.js' %}" async></script>
  <title>Match and Learn</title>
</head>

<body>
  <h1 class="page-title">Match and Learn</h1>
  <div class="overlay-text visible">
    Click to Start
  </div>
  <div id="game-over-text" class="overlay-text">
    GAME OVER
    <span class="overlay-text-small">Click to Restart</span>
  </div>
  <div id="winner-text" class="overlay-text">
    <a href="{% url 'quizes:main-view' %}">
      <p>CONGRATS! YOU WON!</p>
    </a>
    <span class="overlay-text-small"><a href="{% url 'quizes:main-view' %}">
        <p>Proceed to Quiz</p>
      </a></span>
  </div>

  <div class="game-container">
    <div class="game-info-container">
      <div class="game-info">
        Time <span id="time-remaining">100</span>
      </div>
      <div class="game-info">
        Flips <span id="flips">0</span>
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">
        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/bulk ship.png' %}">
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">
        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/bulk ship.png' %}">
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">
        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/cargo ship.png' %}">
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">
        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/cargo ship.png' %}">
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">
        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/Electric_ship_icon.png' %}">
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">
        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/Electric_ship_icon.png' %}">
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">
        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/liquid ship.png' %}">
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">

        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/liquid ship.png' %}">
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">
        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/ship wheel.png' %}">
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">
        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/ship wheel.png' %}">
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">
        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/sunken ship.png' %}">
      </div>
    </div>
    <div class="tile">
      <div class="tile-back tile-face">
        <img class="anchor-logo center" src="{% static 'Game1/Anchorlogo.jpeg' %}">
      </div>
      <div class="tile-front tile-face">
        <img class="tile-value" src="{% static 'Game1/sunken ship.png' %}">
      </div>
    </div>
</body>

</html>